/* .centerText{
    padding: auto;
    margin: auto;
} */

.marginPolitique{
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
} 