.topPagesService{
    margin-top: 5%;
    /* background-color: green; */
    width: 85%;
}
.flexService{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    height: 36vh;
}
.DetailsServices{
    /* background-color: red; */
    width: 46%;
}

.DetailsServices > ul {
    /* background-color: gray; */
    padding: 0;
}
.list-item{
    display: flex;
    flex-direction: row;
}
.ImageService{
    /* background-color: purple; */
    /* padding: 1%; */
    width: 50%;
    height: 100%;
}
.ImageService > img {
    margin-top: 1.6%;
    width: 96%;
    height: 95%;
    margin-left: 2%;
    /* object-fit: contain;       Affiche toute l'image sans la couper */
    /* object-position: center;   Centre l'image dans son conteneur */
    /* display: block;            Supprime les espaces blancs sous l'image */
}
