.bgImage{
    /* background-color: gray; */
    background-image: url("../../../assets/bgImgForm.avif");
    background-repeat: no-repeat;
    background-size: 852px 350px;
    background-position: center;
    width: 67%;
    height: 40vh;
    padding: auto;
    margin: auto;
}
.containerForm{
    border: solid lightgray 1px;
    width: 67%;
    padding: auto;
    margin: auto;
}
.formTop{
    margin-top: 5%; 
}
/* ✅ Écrans larges */
@media (min-width: 1280px) {
  .bgImage {
    height: 50vh;
    background-size: 100% 350px;
  }
}

/* ✅ Responsive tablette (<= 768px) */
@media (max-width: 768px) {
  .bgImage {
    width: 90%;
    background-size: cover;
    height: 35vh;
  }

  .containerForm {
    width: 85%;
    padding: 20px;
  }
}

/* ✅ Responsive mobile (<= 480px) */
@media (max-width: 480px) {
  .bgImage {
    width: 95%;
    height: 30vh;
    background-size: cover;
    background-position: center;
  }

  .containerForm {
    /* background: red; */
    width: 85%;
    padding: 15px;
  }
}
